<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>
        <activity
            android:name=".pluto.activity.qrcode.reader.PlutoQrcodeReaderActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Pluto.FullScreen"
            tools:ignore="DiscouragedApi" />
    </application>

</manifest>
